{% extends 'base.html.twig' %}
{% block body %}
<h2>Add Article</h2>
{{ testdata }}
{{ dump(ArticleForm) }}
<div class="row">
    <div class="col-md-12 text-right">
<form>
<input type="text" name="test">
</form>
</div>
</div>
{% endblock %} 